div.topbar-container-cover {
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
}

div.topbar-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.navbar-container {
  width: 95%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15em;
}

div.logo-image-text {
  font-family: "Avenir", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

div.logo-image-text h1 {
  color: var(--blue-color);
}

div.search-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.search-btn {
  position: relative;
  width: 100%;
}

div.search-btn input {
  height: 20px;
  width: 50%;
  padding-left: 1em;
  padding-block: 0.6em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: var(--border);
}

div.search-btn input::-webkit-input-placeholder {
  color: var(--placeholder);
  letter-spacing: 1px;
}

div.search-btn input:-ms-input-placeholder {
  color: var(--placeholder);
  letter-spacing: 1px;
}

div.search-btn input::-ms-input-placeholder {
  color: var(--placeholder);
  letter-spacing: 1px;
}

div.search-btn input::placeholder {
  color: var(--placeholder);
  letter-spacing: 1px;
}

div.search-btn input:focus {
  outline: none;
}

div.search-btn button {
  width: 50px;
  height: 40px;
  padding-block: 0.6em;
  background-color: var(--lighter-blue-color);
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  left: 50%;
  cursor: pointer;
}

div.docs-noti-img-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.docs-noti-img-name img.human {
  border-radius: 50%;
}

div.name-noti-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}

div.name-noti-icon p {
  color: var(--blue-color);
}

div.sidebar-container {
  overflow-y: scroll;
  position: fixed;
  top: 80px;
  bottom: 0px;
  padding-top: 2.3em;
  background-color: var(--white-color);
  z-index: -1;
}

div.sidebar-container div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

div.sidebar-container a {
  text-decoration: none;
  color: var(--inactive-color);
}

a.active {
  background: var(--lightest-blue-color);
  border-left: 5px solid var(--lighter-blue-color);
}

div.sub-text {
  margin-bottom: 0.9em;
}

div.padding {
  padding-inline: 2.5em 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
}

div.SO {
  color: var(--blue-color);
  font-size: 1.1em;
}

div.flex {
  margin-block: 1em;
}

div.customers,
div.businesses,
div.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.customers a.customers-text,
div.customers a.businesses-text,
div.customers a.settings-text,
div.businesses a.customers-text,
div.businesses a.businesses-text,
div.businesses a.settings-text,
div.settings a.customers-text,
div.settings a.businesses-text,
div.settings a.settings-text {
  font-size: 0.75em;
}

div.Audit-logs {
  margin-bottom: 1em;
}

@media (max-width: 770px) {
  div.sidebar-container {
    display: none;
  }
  div.search-profile {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */